/* LICENSE - style only: CC BY-NC-SA
 * @link https://creativecommons.org/licenses/by-nc-sa/3.0/
 * Graphics copyright of GabbyKC
 * 
 * Title: Pink Outside The Box
 * Author: GabbyKC
 * Website: https://gabbykc.github.io
 * Twitter: @N/A
 *
 * View on Style Stage:
 * @link https://stylestage.dev/styles/pink-outside-the-box/
 */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* resets */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* variables */
:root {
    --bg-color: #ffffff;
    --main-font: #00274C;
    --darkest-pink: #FFCB05;
    --mid-pink: #FFCB05;
    --border-radius: 10px;
    --small-font: .9rem;
}

/* general styles */
body {
    font-family: 'Quicksand', sans-serif;
    padding: 0.5rem;
    background: var(--bg-color);
    color: var(--main-font);
    max-width: 1100px;
    margin: 0 auto; 
}

svg {
    height: 1rem;
    fill: var(--darkest-pink);
    stroke: var(--main-font);
    margin-right: .35rem;
}

header {
    color: var(--mid-pink);
    background-color: var(--main-font);
    text-align: center;
    font-size: medium;
    text-align: center;
    width: 100%;
    outline-style:groove;
    outline-width: 12px;
    outline-color: #FFCB05;
}

/* header styles */


h1 {
    font-size: 2.5rem;
    letter-spacing: .45rem;
    position: relative;
    padding-bottom: 1rem;
}



header h2 {
    background: var(--mid-pink);
    padding: .5rem 1rem;
    border-radius: var(--border-radius);
}

header p {
    font-size: var(--small-font);
    text-align: right;
}

header p > a {
    font-weight: bold;
}

header .container > a {
    float: right;
    font-size: var(--small-font);
    text-decoration: none;
    background: var(--mid-pink);
    padding: .5rem 1rem;
    border-radius: var(--border-radius);
    font-weight: bold;
    -webkit-box-shadow: 2px 2px 3px #7f7e81;
            box-shadow: 2px 2px 3px #7f7e81;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

/* navigation styles */
nav {
    border-radius: var(--border-radius);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul li {
    padding: .25rem .75rem;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    margin-bottom: .5rem;
}

nav ul li > a {
    text-decoration: none;
    position: relative;
    font-weight: bold;
}

nav ul li > a::after {
    content: "";
    background: var(--main-font);
    height: .15rem;
    position: absolute;
    width: 100%;
    border-radius: var(--border-radius);
    bottom: -5px;
    left: 0;
}

/* footer styles */
footer {
    background-color: var(--mid-pink);
    text-align: center;
    margin-top: 2rem;
    border-width: 70px;
    width: 100%;
    padding: 15px;
    
}

footer p {
    font-size: var(--small-font);
    
}

footer a {
    color: var(--main-font);
    text-decoration: none;
    width: 100%;
}

footer a:hover {
    text-decoration: underline;
}
